

/* + –––––––––––––––––––––––––––––––––––––––––––––––––––––––– +
   | Custom CSS Reset for harrysolovay.com | By Harry Solovay |
   + –––––––––––––––––––––––––––––––––––––––––––––––––––––––– + */


*:before, *, *:after {
	-webkit-box-sizing : border-box;
	   -moz-box-sizing : border-box;
		    box-sizing : border-box;
}

html, body,
header, section, hr, div, footer,
a, span, p,
ul, li,
form, input, textarea,
hr, img {
    margin : 0;
    padding : 0;
    border : 0;
    outline : 0;
    background : transparent;
}

html, body {
	background-color : #fff;
	overflow-x : hidden;
	overflow-y : scroll;
	-webkit-text-size-adjust : 100%;
	   -moz-text-size-adjust : 100%;
		-ms-text-size-adjust : 100%;
	-moz-osx-font-smoothing : grayscale;
	 -webkit-font-smoothing : antialiased !important;
	 		 font-smoothing : antialiased;
	text-rendering : optimizeLegibility;
}

body::-webkit-scrollbar { display : none; }

::-moz-selection { background-color : rgba(34, 167, 240, .4); }
::selection { background-color : rgba(34, 167, 240, .4); }

/* make sure works: */
:focus { outline : 0px; }

header, section, hr, div, footer {
	display : block;
	position : relative;
	text-align : center;
	width : inherit;
}

body > *:nth-child(odd) { background-color : #FDFDFD; }
body > *:nth-child(even) { background-color : #fff; }

section:not(#hero), footer {
	border-right : 1px solid #E9E9E9;
	border-left : 1px solid #E9E9E9;
}

.fix-at-top {
	position : fixed;
	top : 0px;
	right : 0px;
	left : 0px;
}

header { z-index : 3; }
nav { z-index : 4; }
section { z-index : 1; }
footer { z-index : 2; }

a {
	background-color : transparent;
	color : #000000;
	text-decoration : none;
}
a:hover { color : #22A7F0; }
a:active { color : #9B9B9B; }
a.current { color : #9B9B9B; }

p {
	margin-right : 5%;
	margin-left : 5%;
	text-align : left;
}

section:not(#hero) .inner-section { padding : 38px 0px 42px 0px; }

.inner-section > span {
	display : block;
	padding-top : 4px;
	font-size : 21px;
	line-height : 28px;
}

.inner-section > p {
	font-size : 17px;
	line-height : 24px;
}

ul { list-style : none; }
li { display : inline-block; }
li span {
	position : relative;
	top : -2px;
}

/* clickables */
a, input, textarea, button, select {
	-webkit-tap-highlight-color : transparent;
	-webkit-touch-callout : none;
	-webkit-appearance : none;
       -moz-appearance : none;
    		appearance : none;
	-webkit-border-radius : 0px;
			border-radius : 0px;
}

/* cursor */
a,
input[type='submit'],
button {
	cursor : pointer;
}
textarea,
input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'],
input[type='search'],
button,
fieldset,
select {
	cursor : text;
}

a, input, textarea, .grid-item {
	-webkit-transition-timing-function : ease;
   	   -moz-transition-timing-function : ease;
  		 -o-transition-timing-function : ease;
    	    transition-timing-function : ease;
	-webkit-transition : color .375s, box-shadow .5s, border .5s, text-shadow 1.5s;
   	   -moz-transition : color .375s, box-shadow .5s, border .5s, text-shadow 1.5s;
  		 -o-transition : color .375s, box-shadow .5s, border .5s, text-shadow 1.5s;
    	    transition : color .375s, box-shadow .5s, border .5s, text-shadow 1.5s;
}


hr {
    height : 1px;
    background-color : #E9E9E9;
}

/* =============
   MESSAGE BLOCK
   ============= */


.block {
	display : block;
	text-align : center;
	font-family : 'Avenir';
	font-size : 14px;
	line-height : 20px;
	padding : 16px 10% 14px 10%;
}

.pre-block { text-decoration : underline; }
