

/* ====
   HERO
   ==== */


	#hero div {
		height : 61.8vw;
		max-height : 500px;
		background-image : url('../images/hero.jpg');
		-webkit-box-shadow : 0px 0px 10px rgba(0, 0, 0, 0.375);
		   -moz-box-shadow : 0px 0px 10px rgba(0, 0, 0, 0.375);
	   			box-shadow : 0px 0px 10px rgba(0, 0, 0, 0.375);
	}

@media (max-width : 768px) and (min-width : 601px) and (orientation : landscape) {
	#hero div {
		max-height : -webkit-calc(100vh - 55px);
		max-height : -moz-calc(100vh - 55px);
		max-height : -o-calc(100vh - 55px);
		max-height : calc(100vh - 55px);
	}
}

@media (max-width : 601px) and (orientation : landscape) {
	#hero div {
		max-height : -webkit-calc(100vh - 82px);
		max-height : -moz-calc(100vh - 82px);
		max-height : -o-calc(100vh - 82px);
		max-height : calc(100vh - 82px);
	}
}
