




/* =====
   fonts
   ===== */


@charset 'utf-8';

@import url(http://fonts.googleapis.com/css?family=Raleway);

@font-face {
    font-family: 'FuturaLT Heavy';
    src: url('fonts/futuralt-heavy/futuralt-heavy-webfont.eot');
    src: url('fonts/futuralt-heavy/futuralt-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/futuralt-heavy/futuralt-heavy-webfont.woff2') format('woff2'),
         url('fonts/futuralt-heavy/futuralt-heavy-webfont.woff') format('woff'),
         url('fonts/futuralt-heavy/futuralt-heavy-webfont.ttf') format('truetype'),
         url('fonts/futuralt-heavy/futuralt-heavy-webfont.svg#futuramedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaLT Light';
    src: url('fonts/futuralt-light/futuralt-light-webfont.eot');
    src: url('fonts/futuralt-light/futuralt-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/futuralt-light/futuralt-light-webfont.woff2') format('woff2'),
         url('fonts/futuralt-light/futuralt-light-webfont.woff') format('woff'),
         url('fonts/futuralt-light/futuralt-light-webfont.ttf') format('truetype'),
         url('fonts/futuralt-light/futuralt-light-webfont.svg#futura_ltlight') format('svg');
    font-weight: normal;
    font-style: normal;
}





/* =========
   box model
   ========= */
   
   
*:before, *, *:after {
	-webkit-box-sizing : border-box;
	   -moz-box-sizing : border-box;
		    box-sizing : border-box;
}





/* ===========
   basic reset
   =========== */
   
   
html, body,
header, section, div, footer,
a, span, p,
ul, li,
form, input, textarea,
hr, img {
    margin : 0;
    padding : 0;
    border : 0;
    outline : 0;
    background : transparent;
    text-decoration : none;
}

:focus { outline : 0px; }





/* ===========
   html / body
   =========== */
   
   
html, body {
	background-color : #fff;
	overflow-x : hidden;
	overflow-y : scroll;
	-webkit-text-size-adjust : 100%;
	   -moz-text-size-adjust : 100%;
		-ms-text-size-adjust : 100%;
	-moz-osx-font-smoothing : grayscale;
	 -webkit-font-smoothing : antialiased !important;
	 		 font-smoothing : antialiased;
	text-rendering : optimizeLegibility;
}  
   
body::-webkit-scrollbar { display : none; }





/* ==========
   sectioning
   ========== */
   
   
header, section, hr, div, footer {
	display : block;
	position : relative;
	text-align : center;
	width : inherit;
}

header { z-index : 3; }
nav { z-index : 4; }
section { z-index : 1; }
footer { z-index : 2; }

.inner-section {
	width : inherit;
	margin-right : auto;
	margin-left : auto;
	max-width : 1000px;
}

section:not(#hero) .inner-section { padding : 42px 0px 42px 0px; }

body > *:nth-child(odd) { background-color : #FDFDFD; }
body > *:nth-child(even) { background-color : #fff; }

section:not(#hero), footer {
	border-right : 1px solid #E9E9E9;
	border-left : 1px solid #E9E9E9;
}

section p {
	margin-right : 5%;
	margin-left : 5%;
}

.inner-section > span {
	font-size : 21px;
	line-height : 27px;
}

.inner-section > p {
	font-size : 17px;
	line-height : 24px;
}





/* ==========
   typography
   ========== */
   
   	
a, span, p { color : #000000; }
   
a, span {
	font-family : 'FuturaLT Heavy';
	text-transform : uppercase;
}





/* ==========
   clickables
   ========== */


a:hover { color : #22A7F0; }
a:active { color : #9B9B9B; }
a.current { color : #9B9B9B; }

a, input, textarea {
	-webkit-tap-highlight-color : transparent;
	-webkit-touch-callout : none;
	-webkit-appearance : none;
       -moz-appearance : none;
    		appearance : none;
	-webkit-border-radius : 0px;
			border-radius : 0px;
}





/* =========
   paragraph
   ========= */
   
   
p {
	font-family : 'FuturaLT Light';
	text-align : left;
	margin-right : 5%;
	margin-left : 5%;
}

p.indent:before {
	content : '';
	display : inline-block;
	width : 30px;
}





/* ===============
   unordered lists
   =============== */
   
   
ul { list-style : none; }
li { display : inline-block; }
li span {
	position : relative;
	top : -2px;
}





/* =======
   divider
   ======= */


hr {
    height : 1px;
    background-color : #E9E9E9;
}





/* ===========
   transitions
   =========== */
   
   
a, input, textarea {
	-webkit-transition-timing-function : ease;
   	   -moz-transition-timing-function : ease;
  		 -o-transition-timing-function : ease;
    	    transition-timing-function : ease;
	-webkit-transition : color .375s, box-shadow .5s, border .5s, text-shadow 1.5s;
   	   -moz-transition : color .375s, box-shadow .5s, border .5s, text-shadow 1.5s;
  		 -o-transition : color .375s, box-shadow .5s, border .5s, text-shadow 1.5s;
    	    transition : color .375s, box-shadow .5s, border .5s, text-shadow 1.5s;
}





/* ==================
   cursor & selection
   ================== */
   
   
a,
input[type='submit'],
button {
	cursor : pointer;
}

textarea,
input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'],
input[type='search'],
button,
fieldset,
select {
	cursor : text;
}

::-moz-selection { background-color : rgba(34, 167, 240, .4); }
::selection { background-color : rgba(34, 167, 240, .4); }





/* =============
   message block
   ============= */


.block {
	display : block;
	text-align : center;
	font-family : 'Raleway';
	font-size : 14px;
	line-height : 20px;
	padding : 16px 10% 14px 10%;
}

.pre-block { text-decoration : underline; }





/* ==============
   helper classes
   ============== */
   
   
.fix-at-top {
	position : fixed;
	top : 0px;
	right : 0px;
	left : 0px;
}

.float-right { float : right; }
.float-left { float : left; }

.clearfix:before,
.clearfix:after {
	content: '';
	display: table;
}
.clearfix:after { clear: both; }

.cover-with-image {
	background-color : transparent;
	background-repeat : no-repeat;
	background-position : center;
	background-size : cover;
}

.disable-selection {
    -webkit-touch-callout : none;
    -webkit-user-select : none;
   	 -khtml-user-select : none;
	   -moz-user-select : none;
	   	-ms-user-select : none;
			user-select : none;
}





/* ======
   header
   ====== */


header {
	-webkit-box-shadow : 0px 5px 5px rgba(0, 0, 0, 0.125);
       -moz-box-shadow : 0px 5px 5px rgba(0, 0, 0, 0.125);
        	box-shadow : 0px 5px 5px rgba(0, 0, 0, 0.125);
}
		
		
		header .inner-section > div:first-child { padding : 5px 12px 5px 12px; }
		
			header .inner-section > div:first-child a {
				font-size : 33px;
				-webkit-transition-duration : 1.125s;
   				   -moz-transition-duration : 1.125s;
  					 -o-transition-duration : 1.125s;
    				    transition-duration : 1.125s;
			}
			
			
		header .inner-section > div:nth-child(2) {
			margin-top : 13px;
			padding : 10px 15px 10px 15px;
		}
		
					header .inner-section > div:nth-child(2) a {
						font-size : 16px;
					}
				
					header .inner-section > div:nth-child(2) span {
						font-size : 14px;
						margin-right : 9px;
						margin-left : 9px;
					}

@media screen and (max-width : 600px) {
	header div { width : 100%; }
	header .inner-section > div:first-child { padding-bottom : 0px; }
	header .inner-section > div:nth-child(2) { margin-top : -10px; }
}





/* ====
   HERO
   ==== */


	#hero div {
		height : 61.8vw;
		max-height : 500px;
		background-image : url('../images/hero.jpg');
		-webkit-box-shadow : 0px 0px 10px rgba(0, 0, 0, 0.375);
		   -moz-box-shadow : 0px 0px 10px rgba(0, 0, 0, 0.375);
	   			box-shadow : 0px 0px 10px rgba(0, 0, 0, 0.375);
	}

@media (max-width : 768px) and (min-width : 601px) and (orientation : landscape) {
	#hero div {
		max-height : -webkit-calc(100vh - 55px);
		max-height : -moz-calc(100vh - 55px);
		max-height : -o-calc(100vh - 55px);
		max-height : calc(100vh - 55px);
	}
}

@media (max-width : 601px) and (orientation : landscape) {
	#hero div {
		max-height : -webkit-calc(100vh - 82px);
		max-height : -moz-calc(100vh - 82px);
		max-height : -o-calc(100vh - 82px);
		max-height : calc(100vh - 82px);
	}
}





/* ======
   FOOTER
   ====== */
   

	footer .inner-section { padding : 34px 0px 30px 0px; }

					footer a { font-size : 14px; }

		footer .inner-section > div:first-child {
			margin-top : 12px;
			margin-bottom : 22px;
		}

				footer .inner-section > div:first-child li {
					padding-right : 5px;
					padding-left : 5px;
				}

					footer .google-plus:hover { color : #dd4b39; }
					footer .linkedin:hover { color : #007bb6; }
					footer .github:hover { color : #565656; }
					
					footer .inner-section > div:first-child a:active { opacity : .625; }

		footer .inner-section > div:nth-child(2) { margin-bottom : 16px; }

			footer .inner-section > div:nth-child(2) > span {
				color : #C8C8C8;
				font-size : 14px;
			}

			footer .inner-section > div:nth-child(2) ul { margin-top : 2px; }
				
				footer .inner-section > div:nth-child(2) ul span {
					font-size : 12px;
					margin-right : 6px;
					margin-left : 6px;
				}





/* ====
   form
   ==== */
   
   
		form { margin : 0px auto; }
		
		@media screen and (max-width : 480px) { form { width : 90%; } }
		@media screen and (min-width : 481px) and (max-width : 640px) { form { width : 85%; } }
		@media screen and (min-width : 641px) { form { width : 80%; } }

			input,
			textarea {
				width : inherit;
				font-family : 'Raleway';
				font-size : 15px;
				padding : 8px 12px 8px 12px;
				border : 1px solid #000000;
				background-color : #fff;
			}
			
			input[type='text'] { margin-top : 10px; }
			
			input[type='email'],
			textarea {
				margin-top : 8px;
			}
			
			textarea {
				height : 146px;
				resize : none;
			}

			input[type='submit'] {
				padding-bottom : 7px;
				font-family : 'FuturaLT Heavy';
				text-transform : uppercase;
				margin-top : 4px;
				margin-bottom : 6px;
			}

			input[type='text']:focus,
			input[type='email']:focus,
			textarea:focus {
				border : 1px solid rgba(0, 128, 255, .75);
				-webkit-box-shadow : 0px 0px 3px 0px rgba(0, 128, 255, .75);
				   -moz-box-shadow : 0px 0px 3px 0px rgba(0, 128, 255, .75);
						box-shadow : 0px 0px 3px 0px rgba(0, 128, 255, .75);
			}	

			input[type='submit']:hover {
				color : #2980b9;
				-webkit-box-shadow : 0px 0px 10px 5px rgba(0, 0, 0, .05);
				   -moz-box-shadow : 0px 0px 10px 5px rgba(0, 0, 0, .05);
						box-shadow : 0px 0px 10px 5px rgba(0, 0, 0, .05);
			}

			input[type='submit']:active {
				color : #9B9B9B;
				-webkit-box-shadow : inset 0px 0px 5px 3px rgba(0, 0, 0, .0375);
				   -moz-box-shadow : inset 0px 0px 5px 3px rgba(0, 0, 0, .0375);
						box-shadow : inset 0px 0px 5px 3px rgba(0, 0, 0, .0375);
			}





/* ====
   work
   ==== */

		.grid {
			margin-right : 2.5%;
			margin-left : 2.5%;
			padding-top : 10px;
			padding-bottom : 6px;
		}
		
			.grid > div {
				border : 1px solid #E9E9E9;
			}

					.grid-item {
						position : relative;
						float : left;
						width : 100%;
						padding-bottom : 100%;
						z-index : 1;
						-webkit-transition : .25s ease;
   	  					   -moz-transition : .25s ease;
 				 			 -o-transition : .25s ease;
								transition : .25s ease;
							-webkit-backface-visibility : hidden;
							   -moz-backface-visibility : hidden;
									backface-visibility : hidden;
					}
	
					.grid-item:hover {
						z-index : 2;
						-webkit-box-shadow : 0px 0px 10px 5px rgba(0, 0, 0, .25);
						   -moz-box-shadow : 0px 0px 10px 5px rgba(0, 0, 0, .25);
								box-shadow : 0px 0px 10px 5px rgba(0, 0, 0, .25);
					}
		
					.grid-item:active {
						-webkit-box-shadow : inset 0px 0px 5px 3px rgba(0, 0, 0, .5);
						   -moz-box-shadow : inset 0px 0px 5px 3px rgba(0, 0, 0, .5);
								box-shadow : inset 0px 0px 5px 3px rgba(0, 0, 0, .5);
					}
		
					@media screen and (min-width : 480px) and (max-width : 640px) {
						.grid-item {
							width : 50%;
							padding-bottom : 50%;
						}
					} @media screen and (min-width : 640px) and (max-width : 800px) {
						.grid-item {
							width : 33.33%;
							padding-bottom : 33.33%;
						}
					} @media screen and (min-width : 801px) {
						.grid-item {
							width : 25%;
							padding-bottom : 25%;
						}
					}

						.grid-item span {
							position : absolute;
							right : 0px;
							bottom : 0px;
							left : 0px;
							padding : 5px;
							font-size : 16px;
							background-color : rgba(255, 255, 255, .75);
							border-top : 1px solid #E9E9E9;
							cursor : pointer;
						}
		
		
		


/* =====
   piece
   ===== */
   
   		
	#piece-navigation .inner-section {
		padding : 0px !important;
		text-align : center !important;
	}

		#last-piece, #all, #next-piece {
			width : 33.333%;
			padding-top : 18px;
			padding-bottom : 15px;
			-webkit-transition : color .375s, box-shadow .125s;
 		  	   -moz-transition : color .375s, box-shadow .125s;
 		 		 -o-transition : color .375s, box-shadow .125s;
 			   	    transition : color .375s, box-shadow .125s;
		}
		
		#last-piece:active, #all:active, #next-piece:active {
			-webkit-box-shadow : inset 0px 0px 5px 3px rgba(0, 0, 0, .05);
			   -moz-box-shadow : inset 0px 0px 5px 3px rgba(0, 0, 0, .05);
					box-shadow : inset 0px 0px 5px 3px rgba(0, 0, 0, .05);
		}
		
		#last-piece, #next-piece {
			border-right : 1px solid #E9E9E9;
			border-left : 1px solid #E9E9E9;
		}

		#all { display : inline-block; }

		#pieces-container {
			border : 1px solid #E9E9E9;
			margin : 10px 2.5% 1px 2.5%;
		}

			#pieces-container a {
				cursor : -webkit-zoom-in;
				cursor : -moz-zoom-in;
				display : block;
				font-size : 0px;
				line-height : 0px;
			}

				#pieces-container img {
					width : 100%;
					border-bottom : 1px solid #E9E9E9;
				}

				#pieces-container a:last-child img { border-bottom : 0px; }
		
